{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p>
Merhaba ben Ali Yıldız. İnşaat Mühendisiyim. Eğitim hayatım açtığınız pozisyonun gerektirdiği altyapıyı bana sağladı. Eğitim sürecim içerisinde araştırma, öz motivasyon, girişimcilik ve farklı yetenekler edinme noktasında kendimi geliştirdim. Özgeçmişimde de görebileceğiniz gibi farklı eğitimlerle ve yaptığım bireysel araştırmalarla kendimi iş hayatına hazırladım. İş yaşamında efektif ve hızlı olmak konusunda son derece özverili ve hevesli olduğumu, pozisyonun gerektirdiği sorumluluğu merak ve istekle üzerime almak istediğimi belirtmek isterim. İstekli, özenli ve dikkatli çalışmanın mutlaka başarı ile sonuçlanacağının bilincindeyim. Bu nedenle size yeteneklerim ve çalışma disiplinim ile katkı sağlayabileceğim noktasında şüphem yok. Önyazımı okumaya ve CV’mi incelemeye vakit ayırdığınız için teşekkür ederim. Yakın zamanda sizden olumlu haberler almayı diliyorum. Saygılarımla,
</p>




{% endblock body %}

